doctype html
html
  head
    title Bigger Link Text

    script(src="jquery-2.1.0.min.js")
    script(src="popup.js")
    link(rel="stylesheet", type="text/css", href="style.css")

  body
    div(id="increaseSizeButton", class="size-button", title="Make links bigger")
      img(id="up-arrow", src="up_arrow_icon.png")

    div(id="resetSizeButton", class="size-button", title="Reset link size")
      img(id="reset-arrow", src="reset_arrow_icon.png")
    
    div(id="reduceSizeButton", class="size-button", title="Make links smaller")
      img(id="down-arrow", src="down_arrow_icon.png")

