doctype html
html
  head
    title Bigger Link Text

    script(src="jquery-2.1.0.min.js")
    script(src="popup.js")
    link(rel="stylesheet", type="text/css", href="style.css")

  body
    button(id="setSizeButton") Make text bigger
    button(id="resetSizeButton") Reset Text

