body{
	width: 60px;
	overflow-x: hidden;
}
.size-button{
	width:60px;
	height: 60px;
	background-color: gray;
}

#increaseSizeButton{
	border-top-left-radius : 10px;
	border-top-right-radius : 10px;
}

#reduceSizeButton{
	border-bottom-left-radius : 10px;
	border-bottom-right-radius : 10px;
}

.size-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background-color:#bddbfa;
	/*-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;*/
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:60px;
	line-height:60px;
	width:60px;
	text-decoration:none;
	text-align:center;
}

.size-button:hover {
	background-color:#80b5ea;
}

.size-button:active {
	position:relative;
	top:1px;
}
#down-arrow, #up-arrow, #reset-arrow {
	margin-top: 5px;
}
